<!DOCTYPE html>
@model ModelMage
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateMageView</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("CreateMage", "Mage"))
        {
            <p>
                @Html.Label("Navn:") <br />
                @Html.TextBox("Name")
                <br>
                    @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                
            </p>

            <p>
                @Html.Label("Is Dark (Default = False):") <br />
                @Html.TextBox("IsDark")
                <br>
                @Html.ValidationMessage("IsDark","", new { @class = "text-danger" })
            </p>
             <p>

             <input type="submit" value="Opret:">
             </p>

        }
    </div>


</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
